{% extends 'base.html' %}

{% block contenido %}
    <h2>Restablecer contrseña</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Enviar correo electronico</button>
    </form>
{% enblock %}
<center>
    <div class="container" style="margin-top: 370px;">
        <div class="messages">
            {% for message in messages %}
                <table{% if message.tags %} class="{{ messages.tags }}"{% endif %}>{{ message }}</table>
            {% endfor %}
        </div>
    </div>
</center>